@charset "UTF-8";
:root {
    --cor1:#17D2EB;
    --cor2:#3C9EAB;
    --cor3:#40666B;
    --cor4:#445151;
}
body {
    background-color: var(--cor2);

    margin: 0px;
}
#principal {
    background-color: var(--cor1);

    padding: 15px 0px 15px 5px;
    
    border: 3px solid rgba(0, 0, 0, 0.507);
    border-top: none;
    
    box-shadow: 0px 5px 3px 2px rgba(0, 0, 0, 0.397);
}
#principal > h1 {
    background-color: var(--cor3);

    width: 200px;

    text-align: center;

    padding: 3px 10px 5px 0px;

    border-radius: 0px 12px 12px 0px;
}
.organizado {
    columns: 2;
}
.paragrafo {
    max-width: 450px;
    min-width: 270px;

    padding: 0px;
}
img {
    display: block;
}
.-buttons {
    margin: 10px 0px 0px 100px;

    padding: 5px 3px 0px 3px;

    color: whitesmoke;

    font-weight: 700;

    background-color: var(--cor4);

    border: 3px double rgba(0, 0, 0, 0.507);
}
.-buttons:hover {
    background-color: var(--cor3);
    transition-duration: 0.5s;
    transform: scale(1.2);
}
#centralizar {
    padding: 0px 0px 0px 30px;
}
main {
    max-width: 850px;
    min-width: 310px;
    
    margin: 40px auto;

    background-color: var(--cor3);

    padding: 10px 7px 50px 7px;
}
section {
    margin: 30px 0px 0px 0px;
}
section > h1 {
    display: block;

    margin: 0px 0px 35px 0px;
}
p {
    text-align: justify;
    text-indent: 10px;
}