@charset "UTF-8";
:root {
    --cor1:#17D2EB;
    --cor2:#3C9EAB;
    --cor3:#40666B;
    --cor4:#445151;
}
body {
    background-color: var(--cor2);

    margin: 0px;
}
#principal {
    background-color: var(--cor1);

    padding: 15px 0px 50px 5px;
    
    border: 3px solid rgba(0, 0, 0, 0.507);
    border-top: none;
    border-right: none;
    border-left: none;
    
    box-shadow: 0px 5px 3px 2px rgba(0, 0, 0, 0.397);
}
#principal > h1 {
    background-color: var(--cor3);

    max-width: 400px;
    
    margin: -15px auto 0px auto;

    text-align: center;

    padding: 3px 10px 5px 0px;

    border-radius: 0px 0px 15px 15px;

    color: whitesmoke;

    font-weight: 900;
}
nav {
    margin: 40px 0px 0px 0px ;
    text-align: center;
}
nav > a {
    margin: 0px 15px 0px 15px;

    text-align: center;

    font-size: 1.2em;

    color: var(--cor4);

    font-weight: 700;

    text-decoration: none;
}
nav > a:hover {
    background-color: var(--cor3);

    padding: 5px 10px;

    color: white;
    
    transition-duration: 1s;

    box-shadow: 3px 5px 1px 1px rgba(0, 0, 0, 0.507);

}
.organizado {
    columns: 2;
}
.paragrafo {
    max-width: 450px;
    min-width: 270px;

    padding: 0px;
}
img {
    display: block;
}
.buttons {
    margin: 10px 0px 0px 100px;

    padding: 5px 3px 0px 3px;

    color: whitesmoke;

    font-weight: 700;

    background-color: var(--cor4);

    border: 3px double rgba(0, 0, 0, 0.507);
}
.buttons:hover {
    background-color: var(--cor3);

    transition-duration: 0.5s;

    transform: scale(1.2);
}
#centralizar {
    padding: 0px 0px 0px 30px;
}
main {
    max-width: 850px;
    min-width: 310px;
    
    margin: 1px auto;

    background-color: var(--cor3);

    padding: 10px 7px 50px 7px;
}
section {
    margin: 30px 0px 0px 0px;
}
section > h1 {
    display: block;

    margin: 0px 0px 35px 0px;
}
p {
    text-align: justify;
    text-indent: 10px;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.7);
}
footer > p {
    text-align: center;

    background-color: rgba(0, 0, 0, 0.514);

    margin: 30px -7px 0px -7px;
    padding: 5px 5px 3px 5px;
}