@charset "UTF-8";
:root {
    --cor01: rgb(234, 195, 143);
    --cor02: #8FCAEB;
    --cor03: #968C80;
    --cor04: #4A5F6B;
}
body {
    margin: 0px;
    background-color: var(--cor01);
}
#principal {
    text-align: center;

    background-color: var(--cor03);

    padding: 10px 0px 20px 0px;

    margin: auto;

    box-shadow: 0px 5px 3px 2px rgba(0, 0, 0, 0.418);
}
#principal > h1 {
    color: white;
    text-shadow: 0px 3px 4px;
    font-style: italic;
    font-weight: 900;
}
nav > a {
    margin: 0px 10px 0px 10px;

    padding: 10px 15px 10px 15px;

    text-decoration: none;

    color: var(--cor04);
}
nav > a:hover {
    cursor: help;

    background-color: var(--cor04); 
    color: var(--cor01);

    transition-duration: 1s;
    
    border-radius: 5px 5px 15px 15px;
}
main {
    background-color: var(--cor04);

    max-width: 1300px;
    min-width: 300px;

    margin: auto;

    padding: 7px 10px;

    box-shadow: 0px 7px 4px 1px rgba(0, 0, 0, 0.637);
}
.distancia {
    margin: 30px 0px 0px 0px;
}
article > p {
    max-width: 1000px;
    text-align: justify;
}