@charset "UTF-8";
body {
    background-color: #9FC131;
    text-align: center;
}
#principal {
    background-color: #005C53;

    display: inline-block;

    font-size: 4em;

    margin: 40px auto;

    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;

    outline-width: 5px;
    outline-style: solid;
    outline-color: #DBF227;
}
h1 {
    padding: 10px 4px 15px 4px;

    color: #D6D58E;

}
button {
    background-color: #042940;
    color: #D6D58E;

    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: black;

    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;

    outline-width: 5px;
    outline-style: solid;
    outline-color: #DBF227;

}
button:hover {
    transform: scale(1.2);
}
main {
    background-color: #042940;

    max-width: 1000px;
    height: 720px;

    margin: auto;

    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;

    border-width: 7px;
    border-style: double;
    border-color: #DBF227;
}
#botoes {
    background-color: #005C53;
    
    margin: 65px auto 0px auto;
    
    padding: 0px 0px 15px 0px;

    border-width: 3px;
    border-style: double;
    border-color: #DBF227;
    border-bottom: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    max-width: 500px;
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #D6D58E;
    color: #005C53;

    padding: 0px 15px 10px 15px;


    border-radius: 40px;
    display: inline-block;
}
#arredondado {
    display: inline-block;

    border-width: 8px;
    border-style: solid;
    border-color: black;
}
mark {
    background-color: rgb(138, 173, 138);
    padding: 0px 3px;
}
#esquerdo {
    text-align: left;
    text-indent: 10px;

    color: bisque;

    max-width: 520px;

    margin: auto;

    background-color: #005C53;
    
    padding: 10px 5px 13px 5px ;

    border: 4px solid #DBF227;
}
article {
    margin: auto;
}
h3 {
    font-style: normal;
    font-weight: 500;
    font-family: serif;

    color: #005C53;
    background-color: #D6D58E;

    display: inline-block;
    padding: 0px 10px 5px 10px;

    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #D6D58E;
}