@charset "UTF-8";
body {
    background-color: #9FC131;
    text-align: center;
}
#principal {
    background-color: #005C53;

    display: inline-block;

    font-size: 4em;
    margin: 40px auto;

    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;

    outline-width: 5px;
    outline-style: solid;
    outline-color: #DBF227;
}
h1 {
    padding: 10px 4px 15px 4px;

    color: #D6D58E;
}
button {
    background-color: #042940;
    color: #D6D58E;

    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: black;

    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;

    outline-width: 5px;
    outline-style: solid;
    outline-color: #DBF227;

}
button:hover {
    transform: scale(1.2);
}