@charset "UTF-8";
:root {
    --cor0: #47566E;
    --cor1: #EDAB24;
    --cor2: #456DAD;
    --cor3: #2471ED;
}
* {
    margin: 0px;
}
body {
    background-color: var(--cor1);
}
header {
    background-color: #2471ED;

    max-width: 1100px;
    min-width: 280px;

    margin: auto;
    
    text-align: center;

    padding: 35px 0px 25px 0px;

    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px 0px 20px 20px;

    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.582);
}
header > p {
    font-size: 1.3em;
    font-style: normal;
    font-weight: 600;

    padding: 10px 0px 0px 0px;
    
    color: white;
}

main {
    text-align:  center;

    max-width: 700px;
    min-width: 290px;
    
    margin: 50px auto;
}
div > ul {
    font-family: 'Courier New', Courier, monospace;

    list-style: inside;

    text-align: left;
    
    padding: 70px 0px 0px 0px;
}
li {
    font-size: 1.7em;
}
div {
    background-color: #47566E;
    
    padding: 0px 10px 20px 10px;

    border: 5px solid black;
    
    box-shadow: 2px 5px 3px 0px black;
}
div > h2 {
    background-color: #456DAD;

    display: inline-block;

    padding: 7px 10px 4px 10px;

    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
}